absl-py==0.8.1
acme==0.31.0
actk==0.2.2
agate==1.6.0
agate-dbf==0.2.0
agate-excel==0.2.1
agate-sql==0.5.2
aiocontextvars==0.2.2
aiohttp==3.6.2
albumentations==0.5.2
appdirs==1.4.3
apturl==0.5.2
argon2-cffi==20.1.0
asn1crypto==0.24.0
astor==0.8.0
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
audioread==2.1.8
autopep8==1.5.4
aws-requests-auth==0.4.3
awsebcli==3.19.2
Babel==2.4.0
bcrypt==3.2.0
beautifulsoup4==4.6.0
black==19.10b0
bleach==2.1.2
blessed==1.17.12
bokeh==2.3.0
boto3==1.17.27
botocore==1.20.27
Brlapi==0.6.6
cached-property==1.5.2
cachetools==4.2.0
cement==2.8.2
certbot==0.31.0
certifi==2021.5.30
cffi==1.13.0
chardet==3.0.4
Click==7.0
cloudpickle==1.6.0
colorama==0.4.3
command-not-found==0.3
ConfigArgParse==0.11.0
configobj==5.0.6
contextvars==2.4
croniter==0.3.37
cryptography==3.3.1
csbdeep==0.6.3
csvkit==1.0.2
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.23
dask==2021.3.0
dask-jobqueue==0.7.2
dataclasses==0.8
datastep==0.1.9
DateTime==4.3
dbfread==2.0.7
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
descartes==1.1.0
distributed==2021.3.0
distro-info===0.18ubuntu0.18.04.1
dnspython==2.1.0
docker==4.4.1
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
efficientnet==1.0.0
elfinder-client==2.1.55a6
entrypoints==0.2.3.post1
et-xmlfile==1.0.1
fire==0.4.0
flake8==3.8.3
Flask==1.1.1
Flask-Cors==3.0.8
Flask-JSON==0.3.4
Flask-JWT-Extended==3.24.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
folium==0.2.1
fs==2.4.11
fsspec==0.8.7
future==0.16.0
geojson==2.5.0
gitdb==4.0.2
GitPython==3.1.0
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grad-cam==1.3.7
greenlet==0.4.12
grpcio==1.34.0
h5py==2.10.0
HeapDict==1.0.1
hpacellseg @ git+ssh://git@github.com/CellProfiling/HPA-Cell-Segmentation.git@874ac51406a6ab99339ad985e7e15c8d5d9c22e3
html5lib==0.999999999
httplib2==0.9.2
humann2==2.8.1
hupper==1.10.2
idna==2.6
idna-ssl==1.1.0
image-classifiers==1.0.0
imagecodecs==2020.5.30
ImageHash==4.0
imageio==2.6.1
imgaug==0.4.0
imjoy==0.10.12
imjoy-elfinder==0.1.60
imjoy-jupyter-extension==0.2.14
imjoy-rpc==0.2.72
immutables==0.14
importlib-metadata==1.7.0
importlib-resources==5.1.2
ipykernel==5.4.2
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
janus==0.6.1
jdcal==1.0
jedi==0.17.2
Jinja2==2.11.1
jmespath==0.10.0
joblib==0.14.0
josepy==1.1.0
jsonlines==1.2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyter-elfinder==0.1.42
jupyter-server-proxy==1.3.0
jupyter-server-proxy-windows==1.5.1
jupyterlab-pygments==0.1.2
kaggle==1.5.10
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
leather==0.3.3
librosa==0.7.1
llvmlite==0.30.0
locket==0.2.1
louis==3.5.0
lxml==4.6.2
macaroonbakery==1.1.3
mahotas==1.4.11
Mako==1.0.7
Markdown==3.1.1
MarkupSafe==1.0
marshmallow==3.10.0
marshmallow-oneofschema==2.1.0
matlabengineforpython===R2018a
matplotlib==3.3.4
mccabe==0.6.1
mistune==0.8.3
mock==2.0.0
more-itertools==8.2.0
msgpack==1.0.2
multidict==4.7.5
music21==5.7.2
mypy-extensions==0.4.3
natsort==7.1.0
nbclient==0.5.1
nbconvert==5.3.1
nbformat==5.0.8
ndg-httpsclient==0.4.4
neovim==0.2.0
nest-asyncio==1.4.3
netifaces==0.10.4
networkx==2.4
nltk==3.6.2
notebook==6.1.6
numba==0.46.0
numpy==1.18.5
oauth==1.0.1
oauthlib==3.1.0
olefile==0.45.1
opencv-python==4.2.0.32
opencv-python-headless==4.5.1.48
openpyxl==2.4.9
opt-einsum==3.1.0
packaging==20.9
palettable==3.3.0
pandas==1.1.5
pandocfilters==1.4.2
paramiko==2.7.2
parsedatetime==2.4
parso==0.7.1
partd==1.1.0
PasteDeploy==2.1.0
pathspec==0.5.9
pathvalidate==2.2.2
pbr==3.1.1
pendulum==2.1.2
pexpect==4.2.1
phash==0.2.0
pickleshare==0.7.4
Pillow==8.1.2
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.6.0
prefect==0.14.12
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.10.0
psutil==5.8.0
ptyprocess==0.7.0
py==1.5.2
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycocotools==2.0.2
pycodestyle==2.6.0
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
pydocstyle==5.0.2
pyflakes==2.2.0
Pygments==2.7.3
pygobject==3.26.1
PyICU==1.9.8
PyJWT==1.7.1
pylint==2.5.3
pymacaroons==0.13.0
PyMCubes==0.1.2
PyNaCl==1.1.2
pyOpenSSL==17.5.0
pyparsing==2.4.2
pyramid==1.10.4
pyramid-jinja2==2.8
pyRFC3339==1.0
pyrsistent==0.17.3
pytest==3.3.2
python-apt==1.6.5+ubuntu0.7
python-box==5.3.0
python-dateutil==2.8.1
python-debian==0.1.32
python-jsonrpc-server==0.3.4
python-language-server==0.34.1
python-slugify==4.0.1
pytimeparse==1.1.5
pytorch-zoo==0.0.0
pytz==2021.1
pytzdata==2020.1
PyWavelets==1.1.1
pyxdg==0.25
PyYAML==5.3.1
pyzmq==20.0.0
qtconsole==5.0.1
QtPy==1.9.0
quilt3==3.4.0
read-roi==1.6.0
readlif==0.5.1
regex==2020.4.4
reportlab==3.4.0
requests==2.24.0
requests-futures==1.0.0
requests-oauthlib==1.3.0
requests-toolbelt==0.8.0
requests-unixsocket==0.1.5
resampy==0.2.2
rope==0.17.0
rsa==4.6
s3transfer==0.3.4
scikit-fmm==2019.1.30
scikit-image==0.16.2
scikit-learn==0.21.3
scikit-multilearn==0.2.0
scipy==1.4.1
scour==0.36
screen-resolution-extra==0.0.0
seaborn==0.11.1
SecretStorage==2.3.1
segmentation-models==1.0.1
semantic-version==2.5.0
Send2Trash==1.5.0
Shapely==1.7.0
simpervisor==0.3
simplegeneric==0.8.1
simplejson==3.13.2
six==1.15.0
sklearn==0.0
smmap==3.0.1
snowballstemmer==2.0.0
sortedcontainers==2.3.0
SoundFile==0.10.2
SQLAlchemy==1.3.15
squarify==0.4.3
ssh-import-id==5.7
stardist==0.7.3
system-service==0.3
systemd-python==234
tabulate==0.8.9
tblib==1.7.0
tenacity==7.0.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-gpu==2.0.0
termcolor==1.1.0
terminado==0.9.2
testpath==0.3.1
text-unidecode==1.3
texttable==1.6.3
threadpoolctl==2.1.0
tifffile==2020.9.3
toml==0.10.0
toolz==0.11.1
torch==1.10.1
torchvision==0.11.2
tornado==6.1
tqdm==4.55.1
traitlets==4.3.2
translationstring==1.3
ttach==0.0.3
typed-ast==1.4.1
typing-extensions==3.7.4.1
ubuntu-advantage-tools==27.4
ubuntu-drivers-common==0.0.0
ufw==0.36
ujson==1.35
unattended-upgrades==0.1
Unidecode==1.0.22
urllib3==1.25.11
usb-creator==0.3.3
venusian==3.0.0
virtualenv==16.7.2
vtk==9.0.1
wadllib==1.3.2
waitress==1.4.3
wcwidth==0.1.9
webencodings==0.5
WebOb==1.8.6
websocket-client==0.57.0
Werkzeug==0.16.0
wrapt==1.11.2
WTForms==2.2.1
xkit==0.0.0
xlrd==1.1.0
yapf==0.30.0
yarl==1.4.2
zict==2.0.0
zipp==3.1.0
zope.component==4.3.0
zope.deprecation==4.4.0
zope.event==4.2.0
zope.hookable==4.0.4
zope.interface==4.3.2
